app_suffix                   = "minibank"
tenant_domain                = "roadtoalm.com"
accounts_api_identifier_uri  = "api://minibank-accounts-api"
payments_api_identifier_uri  = "api://minibank-payments-api"
grant_admin_consent          = true
# swagger_ui_redirect_uris = ["https://localhost:7137/swagger/oauth2-redirect.html", "https://localhost:7296/swagger/oauth2-redirect.html"]
# tenant_id = "00000000-0000-0000-0000-000000000000" # optional, defaults to the az login/CLI context
